#profile
{
    position: absolute;
    height: 4%;
    margin-left: 88%;
    margin-top: -0,5%;
}

#logout
{
    position: absolute;
    height: 4%;
    margin-left: 92%;
    margin-top: -0,5%;
}

#friends
{
    position: absolute;
    height: 4%;
    margin-left: 83%;
    margin-top: -0,5%;
}

#statutsuser
{
    resize: none;
    width: 500px;
    height: 200px;
}