#profile
{
    position: absolute;
    height: 4%;
    margin-left: 88%;
    margin-top: -0,5%;
}

#logout
{
    position: absolute;
    height: 4%;
    margin-left: 92%;
    margin-top: -0,5%;
}

#friends
{
    position: absolute;
    height: 4%;
    margin-left: 83%;
    margin-top: -0,5%;
}

#statutsuser
{
    resize: none;
    width: 300px;
    height: 200px;
}

#friend1
{
    margin-left: 30px;
}

#friend2
{
    margin-left: 530px;
    margin-top: -430px;
}

#friend3
{
    margin-left: 1030px;
    margin-top: -430px;
}

#homepage
{   
    position: absolute;
    left: 30px;
    top: 700px;
}