#profile
{
    position: absolute;
    height: 4%;
    margin-left: 88%;
    margin-top: -0,5%;
}

#logout
{
    position: absolute;
    height: 4%;
    margin-left: 92%;
    margin-top: -0,5%;
}

#friends
{
    position: absolute;
    height: 4%;
    margin-left: 83%;
    margin-top: -0,5%;
}

#statutsuser
{
    resize: none;
    width: 300px;
    height: 200px;
}

#friend1
{
    position: absolute;
    left: 30px;
}

#friend2
{
    position: absolute;
    left: 530px;
}

#friend3
{
    position: absolute;
    left: 1030px;
}

#homepage
{   
    position: absolute;
    left: 30px;
    top: 800px;
}

#refresh
{
    position: absolute;
    height: 4%;
    left : 90%;
    top : 70%;
}

#addfriend
{
    margin-left : 60px;
}

#l_user
{
    position: absolute;
    height: 4%;
    left : 81%;
    top : 70%;
}

.bottom_button{
    color: white;
    background-color: #1D8DF6;
    font-size: 13px;
    display: block;
    margin:auto;
    height: 5%;
    width: 6%;
    margin-top: 29px;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 1px 1px 12px #555;

}

.profile_feature{
    overflow: hidden;
    text-align: center;
    margin:auto;
    padding-top: 10px;
    border:2px solid #1D8DF6;
    font-family:Arial, Helvetica, sans-serif;
    width: 500px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}
body{
    background-color: #9FCDF9;
}
p{
    padding: 15px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: 20px;
    text-shadow: 0 1px 2px #1D8DF6;
}

input{

    border-bottom-color: #E0DFDF;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px 5px 5px 5px;
}

input:invalid {

    border-bottom-color: red;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    padding: 5px 5px 5px 5px;
    caret-color:red;
}