#friendnav{
    width: 47%;
    background: linear-gradient(#38475a, #041222);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
                0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
                0px -3px 0px 1px rgba(0, 0, 0, 0.1) inset;
    overflow : hidden;
	margin-top: 50px;
	margin-left: 28%;
    height : 50px;
}

#fnav{

	font-family: "Trebuchet MS";
    display: table;
	margin-right : 0;
	margin-left : 15px;
	margin-top : 0;
	padding : 0;
}

#fnav li{
	
    display: table-cell;
	width: 200px;
	transition:1s;
}

#fnav li:hover{
	
	width: 200px;
	transition:1s;
}

#fnav a{
	
	display: block;
	line-height: 46px;
    text-align: center;
	text-decoration : none;
	color : white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	transition : text-shadow,color 1s;
	position:relative;  /* utilse pour l'affichage du point */	
}

#fnav a:hover{
	
	background: rgba(255,255,255,0.1);
	border-bottom: solid 4px rgba(255,255,255,0.8);
}

#fnav button:hover{
	
	background: rgba(255,255,255,0.1);
	border-bottom: solid 4px rgba(255,255,255,0.8);
}

.friends{
	font-family: "Trebuchet MS";
	margin-left: 47%;
	display: block;
	height : 40px;
	width: 120px;
	text-align: center;
	color: #022b5a;
	background: linear-gradient(#9bc4f7, #80b5f5);
	text-decoration:none;
}

.message_friend{
	font-family: "Trebuchet MS";
	margin-left: 48%;
	display: block;
	height : 30px;
	width: 80px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color : rgb(51, 204, 51);
	background: linear-gradient(#9999e6, #2e2eb8);
	text-decoration:none;
}

.cancel{
	font-family: "Trebuchet MS";
	margin-left: 48%;
	display: block;
	height : 30px;
	width: 60px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color : white;
	background: linear-gradient(#fc5c5c, #f50d0d);
	text-decoration:none;
}

.accept{
	font-family: "Trebuchet MS";
	margin-left: 48%;
	display: block;
	height : 30px;
	width: 60px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color : rgb(51, 204, 51);
	background: linear-gradient(#9999e6, #2e2eb8);
	text-decoration:none;
}

.decline{
	font-family: "Trebuchet MS";
	margin-left: 48%;
	display: block;
	height : 30px;
	width: 80px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color : rgb(51, 204, 51);
	background: linear-gradient(#9999e6, #2e2eb8);
	text-decoration:none;
}

.delete{
	font-family: "Trebuchet MS";
	margin-left: 48%;
	display: block;
	height : 20px;
	width: 80px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color : rgb(51, 204, 51);
	background: linear-gradient(#9999e6, #2e2eb8);
	text-decoration:none;
}




