#friendnav{
    width: 34%;
    background: linear-gradient(#38475a, #041222);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
                0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
                0px -3px 0px 1px rgba(0, 0, 0, 0.1) inset;
    overflow : hidden;
	margin-top: 50px;
	margin-left: 35%;
    height : 50px;
}
#waiting_friendnav{
    width: 60%;
    background: linear-gradient(#38475a, #041222);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
                0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
                0px -3px 0px 1px rgba(0, 0, 0, 0.1) inset;
    overflow : hidden;
	margin-top: 50px;
	margin-left: 20%;
    height : 50px;
}
#fnav{

	font-family: "Trebuchet MS";
    display: table;
	margin-right : 0;
	margin-left : 15px;
	margin-top : 0;
	padding : 0;
}

#fnav li{
	
    display: table-cell;
	width: 200px;
	transition:1s;
}

#fnav li:hover{
	
	width: 200px;
	transition:1s;
}

#fnav a{
	
	display: block;
	line-height: 46px;
    text-align: center;
	text-decoration : none;
	color : white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	transition : text-shadow,color 1s;
	position:relative;  /* utilse pour l'affichage du point */	
}

#fnav a:hover{
	
	background: rgba(255,255,255,0.1);
	border-bottom: solid 4px rgba(255,255,255,0.8);
}

#fnav button:hover{
	
	background: rgba(255,255,255,0.1);
	border-bottom: solid 4px rgba(255,255,255,0.8);
}


.friends{
	font-family: "Trebuchet MS";
	margin-left: 10%;
	position: relative;
	height : 40px;
	width: 120px;
	text-align: center;
	color: #022b5a;
	background: linear-gradient(#9bc4f7, #80b5f5);
	text-decoration:none;
	flex: 1;
	margin-right: 2%;
}

.message_friend{
	font-family: "Trebuchet MS";
	text-align: center;
	font-size: medium;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.822);
	text-decoration:none;
    background-color: lightgreen;
    border-radius: 5px;
    width: 7%;
    border:none;
    box-shadow: 2px 2px solid black;
    height: 30px;
	flex: 1;
	margin: auto;
	margin-right: 2%;
}

.cancel{
	font-family: "Trebuchet MS";
	margin-left: 450%;
	margin-top: -50px;
	margin-bottom: 60px ;
	border-radius: 5px;
	position: relative;
	display: block;
	height : 30px;
	width: 60px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color : white;
	background: linear-gradient(#fc5c5c, #f50d0d);
	text-decoration:none;
}

.accept{
	font-family: "Trebuchet MS";
	display: block;
	height : 30px;
	width: 60px;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.822);
    background: linear-gradient(#fc5c5c, #f50d0d);
    border-radius: 5px;
    width: 5%;
	color: white;
    border:none;
    box-shadow: 2px 2px solid black;
    height: 30px;
    margin: auto;
	text-decoration:none;
	flex: 1;
	margin-right: 2%;
}

.decline{
	font-family: "Trebuchet MS";
	margin: auto;
	display: block;
	height : 30px;
	width: 5%;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.4);
	color :white;
	background: linear-gradient(#fc5c5c, #f50d0d);
	text-decoration:none;
	flex: 1;
	border-radius: 5px;
}

.delete{
	font-family: "Trebuchet MS";
	display: block;
	background-color: lightgreen;
    border-radius: 5px;
    width: 5%;
    border:none;
    box-shadow: 2px 2px solid black;
    height: 30px;
	color:black;
	text-decoration:none;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.815);
	flex: 1;
	
	margin: auto;
	margin-right: 2%;
}

.envoi{
	background-color: white;
	display: flex;
	flex-flow: row;
}

p{
	font-family: "Trebuchet MS";
	display: block;
	background-color: lightgreen;
    border-radius: 5px;
    width: 15%;
    border:none;
    box-shadow: 2px 2px solid black;
    height: 20px;
	color:black;
	text-decoration:none;
	text-align: center;
	text-shadow: 0 0px 0 rgba(0, 0, 0, 0.815);
	margin-left:40% ;
}

.waiting_friends{
	font-family: "Trebuchet MS";
	margin-left: 300%;
	position: relative;
	margin-top: 30px;
	height : 40px;
	width: 120px;
	text-align: center;
	color: #022b5a;
	background: linear-gradient(#9bc4f7, #80b5f5);
	text-decoration:none;
	overflow: hidden;
}


.reception{
	text-align: center;
	width: 90%;
	display: flex;
	flex-flow:row ;
	flex-wrap: wrap;
}


.bodyami{
	box-shadow: 10px 10px 10px solid black;
    display: flex;
    margin: auto;
    box-shadow: 10px 10px 10px solid black;
    text-align: center;
    background-color: white;
    width: 60%;
	height: 100%;
    flex-flow: column;
}

.affichage_ami{
	display: flex;
	flex-flow: row;
	width: 90%;
	flex-wrap: wrap;
}