html{
background-image: url("../../image/titre.jpg");
width:auto;
height: auto;
background-size: cover;
}
body{
    overflow: hidden;
}
button{
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    background-color: green;
    font-size: 20px;
    display: block;
    margin:auto;
    height: 5%;
    width: 30%;
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 40px 40px 40px 40px;
}

.formulaire{
    margin: auto;
    background-color: white;
    width: 35%;
    height: 600px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    
    
}

input{
    width: 50%;
    display: block;
    margin: auto;
    height: 25%;
}
form{
    margin-top: 100px;
    margin-bottom: 100px;
}