
    html, body{
        margin :0;
        padding: 0;
        height: 100%;
    } 
    
    

html{

    background-size: cover;
    background-color:lightblue;
}

button{

    background-color: lightgreen;
    border-radius: 5px;
    width: 30%;
    border:none;
    box-shadow: 2px 2px solid black;
    height: 40px;
    display: block;
    margin: auto;
    margin-top: 5%;

}

.formulaire{
    margin: auto;
    background-color: white;
    width: 60%;
    height: 50%;
    top: 25%;
    display: flex;
    flex-flow: column;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}

input{
    width: 50%;
    display: block;
    margin: auto;
    height: 50px;
    border-top:2px solid dodgerblue; border-left:2px solid  dodgerblue;
    border-bottom:2px solid  lightgreen;border-right:2px solid  lightgreen;
    font-size:large;
}
