html{
    width:auto;
    height: auto;
    background-size: cover;
    background-color: dodgerblue;
    }
    

    button{
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: lightgreen;
        border-radius: 5px;
        width: 30%;
        border:none;
        box-shadow: 2px 2px solid black;
        height: 10%;
        display: grid;
        margin: auto;
        place-items: center;
        
    
    }
    
p
{
    margin-top: 20px;
    text-align: center;
}
.inscription
{
    margin-top: 100px;
    margin: auto;
    background-color: white;
    width: 60%;
    height: 700px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    top: 30%;
}

input{
    width: 50%;
    display: block;
    margin: auto;
    height: 40%;
    border-top:2px solid dodgerblue; border-left:2px solid  dodgerblue;
    border-bottom:2px solid  lightgreen;border-right:2px solid  lightgreen;
    font-size: large;
}
form{
    margin-top: 100px;
    margin-bottom: 100px;
}