/*
#friends
{
    position: absolute;
    height: 4%;
    margin-left: 83%;
    margin-top: -0,5%;
}
*/
#profile
{
    
    height: 4%;
    margin-left: 88%;
    margin-top: -0,5%;
}

#logout
{
    
    height: 4%;
    margin-left: 92%;
    margin-top: -0,5%;
}

#friends
{
    
    height: 4%;
    margin-left: 83%;
    margin-top: -0,5%;
}

#statutsuser
{
    resize: none;
    width: 300px;
    height: 200px;
}

#friend1
{
    
    position: absolute;
    left: 3%;

}

#friend2
{
    position: absolute;
    left: 33%;  
}

#friend3
{
    position: absolute;
    left: 63%;
    
}
.friend{
    box-shadow:5px 5px 5px solid red;
    background-color: white;
    width: 25%;
    height: 65%;
    margin-top: 40px


}

#homepage
{   
    position: absolute;
    left: 30px;
    top: 85%;
}

#refresh
{
    position: absolute;
    height: 4%;
    left : 90%;
    top : 85%;
}

#addfriend
{
    display: block;
    margin: auto;
}

#l_user
{
    position: absolute;
    height: 4%;
    left : 81%;
    top : 85%;
}

input{
    
    display: block;
    margin: auto;
    border:none;
    border-bottom: 2px solid green;

}

html{
    background-image: url("image/titre.jpg");
    width:auto;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}
textarea{

    display: block;
    margin: auto;    
}

img{
    width: 100px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}



#menufond{
    width: 100%;
    background: linear-gradient(#7cb7ff, #1b81ff);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2),
                0px 1px 0px 1px rgba(255, 255, 255, 0.5) inset,
                0px -3px 0px 1px rgba(0, 0, 0, 0.1) inset;
    overflow : hidden;
    height : 50px;
}

#menu{
	font-family: "Trebuchet MS";
    display: table;
	margin-right : 0;
	margin-left : auto;
	margin-top : 0;
	padding : 0;
}

#menu li{
    display: table-cell;
	width: 90px;
	transition:1s;
}

#menu li:hover{
	width:90px;
	transition:1s;
}

#menu a{
	display: block;
	line-height: 46px;
    text-align: center;
	text-decoration : none;
	color : white;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	transition : text-shadow,color 1s;
	position:relative;  /* utilse pour l'affichage du point */	
}

#menu button{
	display: block;
	line-height: 46px;
    text-align: center;
	text-decoration : none;
	background: linear-gradient(#7cb7ff, #1b81ff);
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
	transition : text-shadow,color 1s;
	position:relative;  /* utilse pour l'affichage du point */	
}

#menu a:hover{
	background: rgba(255,255,255,0.1);
	border-bottom: solid 4px rgba(255,255,255,0.8);
}

#menu button:hover{
	background: rgba(255,255,255,0.1);
	border-bottom: solid 4px rgba(255,255,255,0.8);
}



